{
  "plugins": ["prettier"],
  "extends": ["airbnb", "eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true
  },
  "settings": {
    "import/extensions": [".js", ".jsx"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "max-len": ["error", { "code": 100, "tabWidth": 2 }],
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "no-console": "off",
    "no-restricted-syntax": [
      "error",
      {
          "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
          "message": "Unexpected property on console object was called"
      }
    ],
    "prettier/prettier": ["error", { "semi": true, "printWidth": 100 }],
    "global-require": "off"
  }
}
